# Web Server & Framework
fastapi
uvicorn[standard]
gunicorn
python-multipart

# Database (MongoDB Atlas & Motor)
motor
pymongo[srv]

# Security & Environment
bcrypt
python-dotenv
pydantic

# AI & Computer Vision
google-genai
ultralytics

# Utilities
httpx